.header__lang-link {
  margin: 0;
  padding: 0;
  text-decoration-line: none;
  color: #FFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  opacity: .8;
  transition: opacity 1s linear;
}

.header__lang-link:hover {
  opacity: .3;
}
.header__lang-link:nth-child(1) {
  text-decoration-line: underline;
  margin-right: 18px;
}

@media screen and (min-width: 768px) {
  .header__lang-link {
    font-size: 24px;
    line-height: 28px;
  }

}
