.page {
  background-color: #2A2C2F;
  min-width: 320px;
  max-width: 425px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  z-index: 0;
}
@media (min-width: 426px) {
  .page {
    min-width: 426px;
    max-width: 768px;
  }
}
@media (min-width: 769px) {
  .page {
    min-width: 769px;
    max-width: 1024px;
  }
}
@media (min-width: 1025px) {
  .page {
    min-width: 1025px;
    max-width: 1280px;
  }

@media (min-width: 1281px) {
  .page {
      min-width: 1281px;
      max-width: 100%;
  }
}

