.content__footer {
  padding: 0 0 24px 16px;
}

@media screen and (min-width: 768px) {
  .content__footer {
    padding: 0 24px 24px;
  }
}

@media screen and (min-width: 1024px) {
  .content__footer {
    padding: 3px 50px 24px;
  }
}
