.content__lead {
  padding: 0 0 64px;
}

@media screen and (min-width: 768px) {
  .content__lead {
    padding: 0 0 88px;
  }
}

@media screen and (min-width: 1024px) {
  .content__lead {
    padding: 0 48px 88px;
  }
}

@media screen and (min-width: 1280px) {
  .content__lead {
    padding: 0 148px 92px;
  }
}

